//colorama==0.4.6
cyrtranslit==1.1.1
mss==9.0.1
pypng==0.20220715.0
pyzbar==0.1.9
qrcode==7.4.2
//setuptools==65.5.1
//six==1.16.0
//transliterate==1.10.2
//typing-extensions==4.5.0
wheel==0.38.4
pillow==9.0.1
numpy
opencv-python
//pyperclip
pyautogui
keyboard
//chardet